#show-user-comment {
    margin: 0 auto;
    text-align: center;
    .title {

    }
    ul {
        margin: 0 auto;
        margin-top: 30px;
        width: 70%;

        li {
            border: 3px solid #000000;
        }
    }
}