<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_comment.css' %}">


</head>
<body>
<header>
    <ul>
        <li>
            <a href="{% url 'index' %}"><h1>Blog</h1></a>
        </li>
        <ul>
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'show_user_detail' 2 %}">高評価記事</a>
                </li>
                <li>
                    <a href="{% url 'show_browsing_history' %}">閲覧履歴</a>
                </li>
                <li>
                    <a href="{% url 'show_user_comment' %}">自分のコメント一覧</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">ログアウト</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'register' %}">サインイン</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">ログイン</a>
                </li>
            {% endif %}
        </ul>
    </ul>
</header>
{% block content %}

{% endblock %}
<input type="button" value="戻る" onClick="javascript:history.go(-1);">
<script type="text/javascript" src="{% static 'javascript/changeFormatDate.js' %}"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function ReadLaterAjax(article_pk) {
        $.ajax({
            'type': 'POST',
            'url': "{% url 'read_later_ajax' %}",
            'data': {
                "article_pk": article_pk,
            },
            'dataType': 'json',
        })
            .done(response => {
                console.log(response['read_later'])
            });
    }

</script>


</body>
</html>