<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_user_comment.css' %}">


</head>
<body>
<header>
    <ul>
        <li>
            <a href="{% url 'index' %}"><h1>Blog</h1></a>
        </li>
        <ul>
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'show_user_detail' 2 %}">高評価記事</a>
                </li>
                <li>
                    <a href="{% url 'show_user_detail' 1 %}">閲覧履歴</a>
                </li>
                <li>
                    <a href="{% url 'show_user_detail' 3 %}">後で読むリスト</a>
                </li>
                <li>
                    <a href="{% url 'show_user_comment' %}">自分のコメント一覧</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">ログアウト</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'register' %}">サインイン</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">ログイン</a>
                </li>
            {% endif %}
        </ul>
    </ul>
</header>
{% block content %}

{% endblock %}
<input type="button" value="戻る" onClick="javascript:history.go(-1);">
<script type="text/javascript" src="{% static 'javascript/changeFormatDate.js' %}"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function ExchangeReadLaterButtonValueToFalse(articlePk, divId) {
        console.log('articlepk' + articlePk);
        console.log(divId)
        if (document.querySelector(divId) === null) {
            return;
        }
        const liList = document.querySelector(divId).querySelector('ul').querySelectorAll('li');
        console.log(liList)
        for (let i = 0; i < liList.length; i++) {
            if (liList[i].id === articlePk.toString()) {
                liList[i].querySelector("input[name='read-later-button']").value = '後で読む'
            }
        }
    }

    function ReadLaterAjax(articlePk) {
        console.log('readlaterAjax');
        $.ajax({
            'type': 'POST',
            'url': "{% url 'read_later_ajax' %}",
            'data': {
                "article_pk": articlePk,
            },
            'dataType': 'json',
        })
            .done(response => {
                console.log(response['read_later'])
                if (response['is_redirect']) {
                    location.href = '/account/login'
                } else {
                    if (response['read_later']) {
                        ExchangeReadLaterButtonValueToTrue([articlePk], '#article-list')
                        ExchangeReadLaterButtonValueToTrue([articlePk], '#recommend-article-list')
                        ExchangeReadLaterButtonValueToTrue([articlePk], '#later-article-list')

                    } else {
                        ExchangeReadLaterButtonValueToFalse(articlePk, '#article-list')
                        ExchangeReadLaterButtonValueToFalse(articlePk, '#recommend-article-list')
                        console.log('-----------------------------------------------')
                        ExchangeReadLaterButtonValueToFalse(articlePk, '#later-article-list')
                    }
                }

            });
    }

</script>
<script>
    function ExchangeReadLaterButtonValueToTrue(readLaterList, divId) {
        if (document.querySelector(divId) === null) {
            return;
        }
        const liList = document.querySelector(divId).querySelector('ul').querySelectorAll('li')
        for (let i = 0; i < liList.length; i++) {
            for (let j = 0; j < readLaterList.length; j++) {
                if (liList[i].id === readLaterList[j].toString()) {
                    liList[i].querySelector("input[name='read-later-button']").value = '後で読むリストに追加済み'

                    break;
                }
            }
        }

    }

    function GetAllReadLaterAjax() {
        $.ajax({
            'type': 'GET',
            'url': "{% url 'get_all_is_read_later' %}",
            'data': {},
            'dataType': 'json',
        })
            .done(response => {
                if (response['is_authenticated']) {
                    const readLaterList = response['read_later_list']
                    ExchangeReadLaterButtonValueToTrue(readLaterList, '#article-list')
                    ExchangeReadLaterButtonValueToTrue(readLaterList, '#recommend-article-list')
                    ExchangeReadLaterButtonValueToTrue(readLaterList, '#later-article-list')
                }
            })
    }

    addEventListener('load', GetAllReadLaterAjax)


</script>



</body>
</html>