<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<header>
    <ul class="flex justify-between">
        <li class="px-20">
            <h1>Blog</h1>
        </li>
        {% if request.user.is_authenticated %}
            <li class="px-20">
                <a href="{% url 'logout' %}">ログアウト</a>
            </li>
        {% else %}
            <li class="px-20">
                <a href="{% url 'register' %}">サインイン</a>
            </li>
            <li class="px-20">
                <a href="{% url 'login' %}">ログイン</a>
            </li>
        {% endif %}
    </ul>
</header>
{% block content %}

{% endblock %}
</body>
</html>