{% extends './base.html' %} {% block content %}

<div id="detail">
	<div id="category-list">
		<p>カテゴリー</p>
		<ul>
			{% for category in category_list %}
			<li>
				<a href="{% url 'category' category.pk %}">{{ category.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div id="article-detail">
		<div id="article-header">
			<img src="{{ article.picture.url }}" />
			<p id="article-title">{{ article.title }}</p>
			<ul>
				<li>
					<a href="{% url 'do_good' article.pk %}">いいね</a>
				</li>
				<li>
					<a href="{% url 'read_later' article.pk %}">後で読む</a>
				</li>
				<li>
					<a href="{% url 'create_comment' article.pk %}">コメントを書く</a>
				</li>
			</ul>
		</div>
		<div id="content-article">
			<p>{{ article.content }}</p>
		</div>
		<div id="comment">
			<p>コメント</p>
			{% for comment in comments %}
			<li>
				{{comment.content}} {% if user == comment.user %}
				<a href="{% url 'edit_comment' comment.pk article.pk %}">編集</a>
				<a href="{% url 'delete_comment' comment.pk article.pk %}">削除</a>
				{{ user.username }} {{ user }} {{ comment.user }} {% endif %}
			</li>

			{% endfor %}
		</div>
	</div>
	<div id="recommend_article_list">
		{% for article in recommend_article_list %}
		<li>
			<img src="{{ article.picture.url }}" />
			<a href="{% url 'detail_article' article.pk %}">
				<p>{{ article.title }}</p>
			</a>
			<a href="{% url 'read_later' article.pk %}">後で読む</a>
		</li>
		{% endfor %}
	</div>
</div>

{% endblock %}
