{% extends './base.html' %}
{% block content %}

    <div id="detail">
        <ul>
            <li>
                <a href="{% url 'do_good' article.pk %}">iine</a>
            </li>
            <li>
                <a href="{% url 'read_later' article.pk %}">後で読む</a>
            </li>
        </ul>
        <div class="article">
            <p class="title">{{ article.title }}</p>
            <p class="content">{{ article.content }}</p>
        </div>
        <div class="comment">
            <a href="{% url 'create_comment' article.pk %}">コメントをする</a>
        </div>
    </div>

{% endblock %}