{% extends './base.html' %} {% block content %}
    {% load static %}
    <div id="index">
        <div id="category-list">
            <p>カテゴリー</p>
            <ul>
                {% for category in category_list %}
                    <li>
                        <a href="{% url 'category' category.pk %}">{{ category.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="article-list">
            <p id="index-title">{{ title }}</p>
            <p>記事一覧</p>
            <ul>
                {% if is_mode %}
                    {% for article in object_list %}
                        <li id="{{ article.article }}">
                            <img src="/media/{{ article.article__picture }}" alt="aaaa"/>
                            <div class="link">
                                <a href="{% url 'detail_article' article.article %}">
                                    <p>{{ article.article__title }}</p>
                                </a>
                                <input name="read-later-button" type="button" value="後で読む"
                                       onclick="ReadLaterAjax({{ article.article }})">
                            </div>
                            <p class="date-public-article">{{ article.article__public_date }}</p>
                            <p class="date-{{ is_mode }}">{{ article.date }}</p>
                            {% if article.article__category %}
                                <p class="change-category-title">{{ article.article__category }}</p>
                            {% endif %}

                        </li>
                    {% endfor %}

                {% else %}
                    {% for article in object_list %}
                        <li id="{{ article.pk }}">
                            <img src="{{ article.picture.url }}" alt=""/>
                            <div class="link">
                                <a href="{% url 'detail_article' article.pk %}">
                                    <p>{{ article.title }}</p>
                                </a>
                                <input name="read-later-button" type="button" value="後で読む"
                                       onclick="ReadLaterAjax({{ article.pk }})">
                            </div>
                            <p class="date-public-article">{{ article.public_date }}</p>
                            {% if article.category %}
                                <p>{{ article.category }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 最初</a>
                    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
                {% endif %}

                <span class="current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
                {% endif %}
			</span>
            </div>
        </div>
        <div id="recommend-article-list">
            <p>おすすめリスト</p>
            <ul>
                {% for article in recommended_article_list %}
                    <li id="{{ article.pk }}">
                        <img src="{{ article.picture.url }}" alt=""/>
                        <a href="{% url 'detail_article' article.pk %}">
                            <p>{{ article.title }}</p>
                        </a>
                        <input name="read-later-button" type="button" value="後で読む"
                               onclick="ReadLaterAjax({{ article.pk }})">
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        {#function ExchangeCategoryTitleFromId() {#}
        {#    console.log('Exchange category Title')#}
        {#    $.ajax({#}
        {#        'type': 'GET',#}
        {#        'url': "{% url 'get_category_title_ajax' %}",#}
        {#        'data': {#}
        {#            'category_pk': document.getElementsByClassName('change-category-title')[0].innerHTML,#}
        {#        },#}
        {#        'dataType': 'json',#}
        {#    })#}
        {#        .done(response => {#}
        {#            console.log(response)#}
        {#            console.log(response['category_title'])#}
        {#            document.getElementsByClassName('change-category-title')[0].innerHTML = response['category_title']#}
        {#        })#}
        
    </script>

{% endblock %}