{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% for category in category_list %}
    <li>
        <a href="{% url 'category' category.pk %}">{{ category.title }}</a>
    </li>
{% endfor %}

<h1>一覧表示</h1>
{% for article in article_list %}
    <li><a class="bg-black" href="{% url 'detail_article' article.pk %}">{{ article.title }}
        <img src="{{ article.picture.url }}" width="200px" height="200px"> </a>
        <a href="{% url 'read_later' article.pk %}">後で読む</a>
    </li>
{% endfor %}
<h1>高評価リスト</h1>
{% for article in good_article_list %}
    <li><a href="{% url 'detail_article' article.pk %}">{{ article.title }}</a></li>
{% endfor %}
<h1>後で読むリスト</h1>
{% for article in read_later_list %}
    <li><a href="{% url 'detail_article' article.pk %}">{{ article.title }}</a></li>
{% endfor %}
</body>
</html>