{% extends './base.html' %} {% block content %}
    {% load static %}
    <div id="index">
        <div id="category-list">
            <p>カテゴリー</p>
            <ul>
                {% for category in category_list %}
                    <li>
                        <a href="{% url 'category' category.pk %}">{{ category.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="article-list">
            <p>記事一覧</p>
            <ul>
                {% for article in object_list %}
                    <li>
                        <img src="{{ article.picture.url }}" alt=""/>
                        <div class="link">
                            <a href="{% url 'detail_article' article.pk %}">
                                <p>{{ article.title }}</p>
                            </a>
                            <a href="{% url 'read_later' article.pk %}">後で読む</a>
                        </div>
                        <p class="date">{{ article.public_date }}</p>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 最初</a>
                    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
                {% endif %}

                <span class="current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
                {% endif %}
			</span>
            </div>
        </div>
        <div id="read-later-list">
            <p>後で読むリスト</p>
            <ul>
                {% for article in read_later_list %}
                    <li>
                        <img src="{{ article.picture.url }}" alt=""/>
                        <a href="{% url 'detail_article' article.pk %}">
                            <p>{{ article.title }}</p>
                        </a>
                        <a href="{% url 'read_later' article.pk %}">後で読む</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'javascript/changeFormatDate.js' %}"></script>

{% endblock %}
